In [1]:
import numpy as np
import pandas as pd
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from pathlib import Path

In [2]:
raw_path = Path('../data/raw')

In [3]:
df = pd.read_csv(raw_path / 'appartments.csv')

In [4]:
df.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Atithi Elegance,"2, 3 BHK Apartment in Narol, Ahmedabad East","['Rahe Public School', 'State Bank of India', ...","{'Rahe Public School': '240 WITHIN M', 'State ...",https://www.99acres.com/atithi-elegance-narol-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Car wash area', 'Swimming Pool', 'Sun Deck',..."
1,Sattvam Icon,"2 BHK Apartment in Vatva, Ahmedabad East","['NH47', 'Aviraj Pinnacle', 'Vedant Internatio...","{'NH47': '1.6 KM', 'Aviraj Pinnacle': '3.7 K...",https://www.99acres.com/sattvam-icon-vatva-ahm...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Solar Lighting', 'Piped Gas', 'Gazebo', 'CCT..."
2,Laxmi Eternia,"3 BHK Apartment in Narol, Ahmedabad East",[],{},https://www.99acres.com/laxmi-eternia-narol-ah...,"{'3 BHK': {'building_type': 'Apartment', 'area...","['Theater Home', 'Terrace Garden', 'Skating Ri..."
3,The Crest,"3 BHK Apartment in Chandkheda, Ahmedabad North","['Ashapura Super Market', 'Rangoli Preschool',...","{'Ashapura Super Market': '600 MTRS AWAY', 'R...",https://www.99acres.com/the-crest-chandkheda-a...,"{'3 BHK': {'building_type': 'Apartment', 'area...","['CCTV Camera Security', '24x7 Security', 'Gat..."
4,The Evans,"3 BHK Apartment in Chandkheda, Ahmedabad North","['Orange Mall Chandkheda', 'Chandkheda, Ahmeda...","{'Orange Mall Chandkheda': '2.5 KM', 'Chandkh...",https://www.99acres.com/the-evans-chandkheda-a...,"{'3 BHK': {'building_type': 'Apartment', 'area...","['Solar Lighting', 'Lawn Tennis Court', 'Earth..."

In [5]:
df.iloc[1].NearbyLocations

"['NH47', 'Aviraj Pinnacle', 'Vedant International School', 'Sheth Lallubhai Gordhandas Hospital', 'Ahmedabad Junction']"

In [6]:
df.iloc[1].LocationAdvantages

"{'NH47': '1.6  KM', 'Aviraj Pinnacle': '3.7  KM', 'Vedant International School': '5.7  KM', 'Sheth Lallubhai Gordhandas Hospital': '8.3  KM', 'Ahmedabad Junction': '11.5  KM', 'Ahmedabad University': '19.7  KM', 'Sardar Vallabhbhai Patel Airport': '27.1  KM'}"

In [7]:
df.iloc[1].PriceDetails

"{'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1062 - 1134 sq.ft.', 'price-range': 'â‚¹ 28.42 - 29.94 L'}}"

In [8]:
df.iloc[1].TopFacilities

"['Solar Lighting', 'Piped Gas', 'Gazebo', 'CCTV Camera Security', 'Rain Water Harvesting', '24x7 Security', 'Club House', '24/7 Power Backup', 'Gated Community']"

In [9]:
df[['PropertyName','TopFacilities']]['TopFacilities'][0]

"['Car wash area', 'Swimming Pool', 'Sun Deck', 'Multipurpose Hall', 'CCTV Camera Security', 'Jogging Track', '24x7 Security', 'Club House', 'Gated Community']"

In [10]:
def extract_list(s):
    return re.findall(r"'(.*?)'", s)

df['TopFacilities'] = df['TopFacilities'].apply(extract_list)

In [11]:
df.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Atithi Elegance,"2, 3 BHK Apartment in Narol, Ahmedabad East","['Rahe Public School', 'State Bank of India', ...","{'Rahe Public School': '240 WITHIN M', 'State ...",https://www.99acres.com/atithi-elegance-narol-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","[Car wash area, Swimming Pool, Sun Deck, Multi..."
1,Sattvam Icon,"2 BHK Apartment in Vatva, Ahmedabad East","['NH47', 'Aviraj Pinnacle', 'Vedant Internatio...","{'NH47': '1.6 KM', 'Aviraj Pinnacle': '3.7 K...",https://www.99acres.com/sattvam-icon-vatva-ahm...,"{'2 BHK': {'building_type': 'Apartment', 'area...","[Solar Lighting, Piped Gas, Gazebo, CCTV Camer..."
2,Laxmi Eternia,"3 BHK Apartment in Narol, Ahmedabad East",[],{},https://www.99acres.com/laxmi-eternia-narol-ah...,"{'3 BHK': {'building_type': 'Apartment', 'area...","[Theater Home, Terrace Garden, Skating Rink, L..."
3,The Crest,"3 BHK Apartment in Chandkheda, Ahmedabad North","['Ashapura Super Market', 'Rangoli Preschool',...","{'Ashapura Super Market': '600 MTRS AWAY', 'R...",https://www.99acres.com/the-crest-chandkheda-a...,"{'3 BHK': {'building_type': 'Apartment', 'area...","[CCTV Camera Security, 24x7 Security, Gated Co..."
4,The Evans,"3 BHK Apartment in Chandkheda, Ahmedabad North","['Orange Mall Chandkheda', 'Chandkheda, Ahmeda...","{'Orange Mall Chandkheda': '2.5 KM', 'Chandkh...",https://www.99acres.com/the-evans-chandkheda-a...,"{'3 BHK': {'building_type': 'Apartment', 'area...","[Solar Lighting, Lawn Tennis Court, Earthquake..."

In [12]:
df['FacilitiesStr'] = df['TopFacilities'].apply(' '.join)

In [13]:
df['FacilitiesStr'][0]

'Car wash area Swimming Pool Sun Deck Multipurpose Hall CCTV Camera Security Jogging Track 24x7 Security Club House Gated Community'

In [14]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english', ngram_range=(1, 2))

In [15]:
tfidf_matrix = tfidf_vectorizer.fit_transform(df['FacilitiesStr'])

In [16]:
# tfidf_matrix.toarray()[0]

In [17]:
cosine_sim1 = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [18]:
cosine_sim1.shape

(237, 237)

In [19]:
df[['PropertyName','PriceDetails']]['PriceDetails'][1]

"{'2 BHK': {'building_type': 'Apartment', 'area_type': 'Super Built-up Area', 'area': '1062 - 1134 sq.ft.', 'price-range': 'â‚¹ 28.42 - 29.94 L'}}"

In [20]:
def recommend_properties(property_name, cosine_sim=cosine_sim1):
    # Get the index of the property that matches the name
    idx = df.index[df['PropertyName'] == property_name].tolist()[0]

    # Get the pairwise similarity scores with that property
    sim_scores = list(enumerate(cosine_sim1[idx]))

    # Sort the properties based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar properties
    sim_scores = sim_scores[1:6]

    # Get the property indices
    property_indices = [i[0] for i in sim_scores]
    
    recommendations_df = pd.DataFrame({
        'PropertyName': df['PropertyName'].iloc[property_indices],
        'SimilarityScore': sim_scores
    })

    # Return the top 10 most similar properties
    return recommendations_df

In [21]:
recommend_properties("Laxmi Eternia")

                    PropertyName             SimilarityScore
188             Turquoise Greenz  (188, 0.43201696165452713)
105                  Laxmi Nivas   (105, 0.3839035863377525)
116              Sharanya Altura  (116, 0.36806786204268627)
233  Shree Siddhi  Ganesh Legacy  (233, 0.31207726267522934)
28              Harmony Harikesh   (28, 0.29889243682566585)

In [22]:
import pandas as pd
import json

# Load the dataset
# df_appartments = pd.read_csv('appartments.csv').drop(22)

# Function to parse and extract the required features from the PriceDetails column
def refined_parse_modified_v2(detail_str):
    try:
        details = json.loads(detail_str.replace("'", "\""))
    except:
        return {}

    extracted = {}
    for bhk, detail in details.items():
        # Extract building type
        extracted[f'building type_{bhk}'] = detail.get('building_type')

        # Parsing area details
        area = detail.get('area', '')
        area_parts = area.split('-')
        if len(area_parts) == 1:
            try:
                value = float(area_parts[0].replace(',', '').replace(' sq.ft.', '').strip())
                extracted[f'area low {bhk}'] = value
                extracted[f'area high {bhk}'] = value
            except:
                extracted[f'area low {bhk}'] = None
                extracted[f'area high {bhk}'] = None
        elif len(area_parts) == 2:
            try:
                extracted[f'area low {bhk}'] = float(area_parts[0].replace(',', '').replace(' sq.ft.', '').strip())
                extracted[f'area high {bhk}'] = float(area_parts[1].replace(',', '').replace(' sq.ft.', '').strip())
            except:
                extracted[f'area low {bhk}'] = None
                extracted[f'area high {bhk}'] = None

        # Parsing price details
        price_range = detail.get('price-range', '')
        price_parts = price_range.split('-')
        if len(price_parts) == 2:
            try:
                extracted[f'price low {bhk}'] = float(price_parts[0].replace('â‚¹', '').replace(' Cr', '').replace(' L', '').strip())
                extracted[f'price high {bhk}'] = float(price_parts[1].replace('â‚¹', '').replace(' Cr', '').replace(' L', '').strip())
                if 'L' in price_parts[0]:
                    extracted[f'price low {bhk}'] /= 100
                if 'L' in price_parts[1]:
                    extracted[f'price high {bhk}'] /= 100
            except:
                extracted[f'price low {bhk}'] = None
                extracted[f'price high {bhk}'] = None

    return extracted
# Apply the refined parsing and generate the new DataFrame structure
data_refined = []

for _, row in df.iterrows():
    features = refined_parse_modified_v2(row['PriceDetails'])
    
    # Construct a new row for the transformed dataframe
    new_row = {'PropertyName': row['PropertyName']}
    
    # Populate the new row with extracted features
    for config in ['1 BHK', '2 BHK', '3 BHK', '4 BHK', '5 BHK', '6 BHK', '1 RK', 'Land']:
        new_row[f'building type_{config}'] = features.get(f'building type_{config}')
        new_row[f'area low {config}'] = features.get(f'area low {config}')
        new_row[f'area high {config}'] = features.get(f'area high {config}')
        new_row[f'price low {config}'] = features.get(f'price low {config}')
        new_row[f'price high {config}'] = features.get(f'price high {config}')
    
    data_refined.append(new_row)

df_final_refined_v2 = pd.DataFrame(data_refined).set_index('PropertyName')

In [23]:
df_final_refined_v2['building type_Land'] = df_final_refined_v2['building type_Land'].replace({'':'Land'})

In [24]:
df['PriceDetails'][10]

"{'2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '689.64 sq.ft.', 'price-range': 'â‚¹ 54 L'}}"

In [25]:
df_final_refined_v2

,building type_1 BHK,area low 1 BHK,area high 1 BHK,price low 1 BHK,price high 1 BHK,building type_2 BHK,area low 2 BHK,area high 2 BHK,price low 2 BHK,price high 2 BHK,...,building type_1 RK,area low 1 RK,area high 1 RK,price low 1 RK,price high 1 RK,building type_Land,area low Land,area high Land,price low Land,price high Land
PropertyName,,,,,,,,,,,,,,,,,,,,,
Atithi Elegance,None,NaN,NaN,NaN,NaN,Apartment,1053.0,1179.0,NaN,NaN,...,None,NaN,NaN,None,None,None,None,None,None,None
Sattvam Icon,None,NaN,NaN,NaN,NaN,Apartment,1062.0,1134.0,28.42,0.2994,...,None,NaN,NaN,None,None,None,None,None,None,None
Laxmi Eternia,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,...,None,NaN,NaN,None,None,None,None,None,None,None
The Crest,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,...,None,NaN,NaN,None,None,None,None,None,None,None
The Evans,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,...,None,NaN,NaN,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Polaris The Palace,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,...,None,NaN,NaN,None,None,None,None,None,None,None
Shree Siddhi Ganesh Legacy,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,...,None,NaN,NaN,None,None,None,None,None,None,None
Anantara Abode,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,...,None,NaN,NaN,None,None,None,None,None,None,None
Shailya Apartment 2,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,...,None,NaN,NaN,None,None,None,None,None,None,None
Ganesh Enclave,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,...,None,NaN,NaN,None,None,None,None,None,None,None

In [26]:
categorical_columns = df_final_refined_v2.select_dtypes(include=['object']).columns.tolist()

In [27]:
categorical_columns

['building type_1 BHK',
 'building type_2 BHK',
 'building type_3 BHK',
 'building type_4 BHK',
 'building type_5 BHK',
 'building type_6 BHK',
 'price low 6 BHK',
 'price high 6 BHK',
 'building type_1 RK',
 'price low 1 RK',
 'price high 1 RK',
 'building type_Land',
 'area low Land',
 'area high Land',
 'price low Land',
 'price high Land']

In [28]:
df_final_refined_v2['price high Land'].nunique()

0

In [29]:
ohe_df = pd.get_dummies(df_final_refined_v2, columns=categorical_columns, drop_first=True)

In [30]:
ohe_df.fillna(0,inplace=True)

In [31]:
ohe_df

,area low 1 BHK,area high 1 BHK,price low 1 BHK,price high 1 BHK,area low 2 BHK,area high 2 BHK,price low 2 BHK,price high 2 BHK,area low 3 BHK,area high 3 BHK,...,price high 4 BHK,area low 5 BHK,area high 5 BHK,price low 5 BHK,price high 5 BHK,area low 6 BHK,area high 6 BHK,area low 1 RK,area high 1 RK,building type_6 BHK_Independent Floor
PropertyName,,,,,,,,,,,,,,,,,,,,,
Atithi Elegance,0.0,0.0,0.0,0.0,1053.0,1179.0,0.00,0.0000,1476.00,1539.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
Sattvam Icon,0.0,0.0,0.0,0.0,1062.0,1134.0,28.42,0.2994,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
Laxmi Eternia,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0000,1260.00,2520.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
The Crest,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0000,1304.99,1574.98,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
The Evans,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0000,1845.00,1845.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Polaris The Palace,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0000,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
Shree Siddhi Ganesh Legacy,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0000,1041.95,1065.63,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
Anantara Abode,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0000,1150.12,1176.39,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
Shailya Apartment 2,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0000,1500.00,1500.00,...,0.0,0.0,0.0,0.0,0.0,3500.0,3500.0,0.0,0.0,1
Ganesh Enclave,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0000,2250.00,2250.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [32]:
ohe_df.columns

Index(['area low 1 BHK', 'area high 1 BHK', 'price low 1 BHK',
       'price high 1 BHK', 'area low 2 BHK', 'area high 2 BHK',
       'price low 2 BHK', 'price high 2 BHK', 'area low 3 BHK',
       'area high 3 BHK', 'price low 3 BHK', 'price high 3 BHK',
       'area low 4 BHK', 'area high 4 BHK', 'price low 4 BHK',
       'price high 4 BHK', 'area low 5 BHK', 'area high 5 BHK',
       'price low 5 BHK', 'price high 5 BHK', 'area low 6 BHK',
       'area high 6 BHK', 'area low 1 RK', 'area high 1 RK',
       'building type_6 BHK_Independent Floor'],
      dtype='object')

In [33]:
from sklearn.preprocessing import StandardScaler

# Initialize the scaler
scaler = StandardScaler()

# Apply the scaler to the entire dataframe
ohe_df_normalized = pd.DataFrame(scaler.fit_transform(ohe_df), columns=ohe_df.columns, index=ohe_df.index)

In [34]:
ohe_df_normalized.head()

,area low 1 BHK,area high 1 BHK,price low 1 BHK,price high 1 BHK,area low 2 BHK,area high 2 BHK,price low 2 BHK,price high 2 BHK,area low 3 BHK,area high 3 BHK,...,price high 4 BHK,area low 5 BHK,area high 5 BHK,price low 5 BHK,price high 5 BHK,area low 6 BHK,area high 6 BHK,area low 1 RK,area high 1 RK,building type_6 BHK_Independent Floor
PropertyName,,,,,,,,,,,,,,,,,,,,,
Atithi Elegance,-0.256363,-0.2578,-0.10883,-0.108224,1.552667,1.677285,-0.320395,-0.326373,0.547902,0.501145,...,-0.265005,-0.32136,-0.321527,-0.155361,-0.151962,-0.125703,-0.120553,-0.065094,-0.065094,-0.065094
Sattvam Icon,-0.256363,-0.2578,-0.10883,-0.108224,1.571799,1.587089,1.534383,1.108555,-1.249898,-1.240547,...,-0.265005,-0.32136,-0.321527,-0.155361,-0.151962,-0.125703,-0.120553,-0.065094,-0.065094,-0.065094
Laxmi Eternia,-0.256363,-0.2578,-0.10883,-0.108224,-0.685753,-0.685855,-0.320395,-0.326373,0.284809,1.611347,...,-0.265005,-0.32136,-0.321527,-0.155361,-0.151962,-0.125703,-0.120553,-0.065094,-0.065094,-0.065094
The Crest,-0.256363,-0.2578,-0.10883,-0.108224,-0.685753,-0.685855,-0.320395,-0.326373,0.339608,0.541864,...,-0.265005,-0.32136,-0.321527,-0.155361,-0.151962,-0.125703,-0.120553,-0.065094,-0.065094,-0.065094
The Evans,-0.256363,-0.2578,-0.10883,-0.108224,-0.685753,-0.685855,-0.320395,-0.326373,0.997351,0.847447,...,-0.265005,-0.32136,-0.321527,-0.155361,-0.151962,-0.125703,-0.120553,-0.065094,-0.065094,-0.065094

In [35]:
from sklearn.metrics.pairwise import cosine_similarity

# Compute the cosine similarity matrix
cosine_sim2 = cosine_similarity(ohe_df_normalized)

In [36]:
cosine_sim2.shape

(237, 237)

In [37]:
def recommend_properties_with_scores(property_name, top_n=237):
    
    # Get the similarity scores for the property using its name as the index
    sim_scores = list(enumerate(cosine_sim2[ohe_df_normalized.index.get_loc(property_name)]))
    
    # Sort properties based on the similarity scores
    sorted_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # Get the indices and scores of the top_n most similar properties
    top_indices = [i[0] for i in sorted_scores[1:top_n+1]]
    top_scores = [i[1] for i in sorted_scores[1:top_n+1]]
    
    # Retrieve the names of the top properties using the indices
    top_properties = ohe_df_normalized.index[top_indices].tolist()
    
    # Create a dataframe with the results
    recommendations_df = pd.DataFrame({
        'PropertyName': top_properties,
        'SimilarityScore': top_scores
    })
    
    return recommendations_df

# Test the recommender function using a property name
recommend_properties_with_scores('Omkar Parisar')

                 PropertyName  SimilarityScore
0               Aashray Aurum         0.999961
1    Vishwanath Sarathya West         0.999927
2                Savya Skyz 2         0.999915
3             Aavali Nine 360         0.999899
4            Sheladia Luxuria         0.999764
..                        ...              ...
231              Savvy Marina        -0.484149
232      Pacifica Reflections        -0.522768
233        Shaligram Lakeview        -0.581500
234       Reva by Kaavyaratna        -0.609904
235                   Srushti        -0.657771

[236 rows x 2 columns]

In [38]:
df[['PropertyName','LocationAdvantages']]['LocationAdvantages'][10]

"{'Ratnam Royals Bus Stop': '290  METERS', 'Bhoomi Cricket Coaching Academy': '600  METERS', 'Ashray Sarin Bus Stop': '650  METERS', 'H B Kapadia School': '1.2  KM', 'Decathlon Motera': '1.3  KM', 'Royal Chemist': '1.9  KM', 'Vishwakarma Government College': '1.9  KM', 'Cankidz Pre School': '2.1  KM', 'Kotak Mahindra Bank ATM': '2.2  KM', 'SMS Multi-Speciality Hospital': '2.2  KM', 'Day Care Chandkheda': '2.4  KM', 'Vijaya Bank': '2.7  KM', 'Sharda Petroleum': '2.8  KM', 'Kali Cultural Garden': '4.4  KM', 'Chandkhera  Station': '5  KM'}"

In [39]:
def distance_to_meters(distance_str):
    try:
        if 'KM' in distance_str:
            return float(distance_str.split()[0]) * 1000
        elif 'METER' in distance_str or 'METERS' in distance_str or ' M' in distance_str:
            return float(distance_str.split()[0])
        else:
            return None
    except:
        return None

In [40]:
df['LocationAdvantages'][1]

"{'NH47': '1.6  KM', 'Aviraj Pinnacle': '3.7  KM', 'Vedant International School': '5.7  KM', 'Sheth Lallubhai Gordhandas Hospital': '8.3  KM', 'Ahmedabad Junction': '11.5  KM', 'Ahmedabad University': '19.7  KM', 'Sardar Vallabhbhai Patel Airport': '27.1  KM'}"

In [41]:
import ast
location_matrix = {}
locations_list = []
for index, row in df.iterrows():
    location_advantages = ast.literal_eval(row['LocationAdvantages'])
    if location_advantages:
        # Check if the dictionary is not empty
        distances = {}
        for location, distance in location_advantages.items():
            location = location.strip()
            if location in ['4D Square Mall','4 D SQUARE MALL','4 D Mall' ,'4d Square Mall','4 D Square Mall']:
                distances['4D Square Mall'] = distance_to_meters(distance)
            elif location in ["Sunrise cricket Ground", "Sunrise Cricket Ground"]:
                distances['Sunrise cricket Ground'] = distance_to_meters(distance)
            elif location in ["Gandhinagar Capital Railway Station", "Gandhinagar Railway Station"]:
                distances['Gandhinagar Railway Station'] = distance_to_meters(distance)
            elif location in ["Apparel Park Metro Station", "Apparel Park"]:
                distances['Apparel Park Metro Station'] = distance_to_meters(distance)
            elif location in ["Sabarmati Junction", "Sabarmati Jn Railway Station"]:
                distances['Sabarmati Junction'] = distance_to_meters(distance)
            elif location in ["Science City Circle", "Science City Nature Park", "SAL College of Engineering", "Science City Aquarium", "SAL Engineering",
    "Science City Ahmedabad", "SAL College",'Science City and Park','SAL Institute']:
                distances['Science City'] = distance_to_meters(distance)
            elif location in ["Divine Kids Pre-School", "Divine Life Intl School", "Divine Kids Preschool"]:
                distances['Divine Kids Pre-School'] = distance_to_meters(distance)
            elif location in ["Chandkhera Railway Station", "Chandkhera Road railway station"]:
                distances['Chandkhera Railway Station'] = distance_to_meters(distance)
            elif location in ["Fun Blast Ahmedabad", "Fun Blast - SBR", "Fun Blast"]:
                distances['Fun Blast Ahmedabad'] = distance_to_meters(distance)
            elif location in ["NH 48", "NH48"]:
                distances['NH 48'] = distance_to_meters(distance)
            elif location in ["PVR Acropolis", "The Acropolis", "Acropolis Mall", "The Acropolis Mall", "PVR Acropollis"]:
                distances['PVR Acropolis'] = distance_to_meters(distance)
            elif location in ["Motera Stadium metro station", "Motera Metro station", "Motera Stadium Metro Station", "Motera Metro Station"]:
                distances['Motera Stadium metro station'] = distance_to_meters(distance)
            elif location in ["Wyndham Ahmedabad Shela", "Wyndham Ahmedabad"]:
                distances['Wyndham Ahmedabad Shela'] = distance_to_meters(distance)
            elif location in ["Gift City", "GIFT City"]:
                distances['Gift City'] = distance_to_meters(distance)
            elif location in ["Shalby Multi-Specialty Hospitals", "Shalby Multi-Specialty Hospital", "Shalby Hospital", "Shalby hospital"]:
                distances['Shalby Multi-Specialty Hospitals'] = distance_to_meters(distance)
            elif location in ["Ambli Road", "Ambli Lake"]:
                distances['Ambli Road'] = distance_to_meters(distance)
            elif location in ["SG Highway", "Sarkhej - Gandhinagar Hwy", "S.G. Highway", "Sarkhej Gandhinagar Highway", "S G Highway", "S. G. Highway"]:
                distances['SG Highway'] = distance_to_meters(distance)
            elif location in ["Taj Skyline", "Taj Skyline, Ahmedabad"]:
                distances['Taj Skyline'] = distance_to_meters(distance)
            elif location in ["Apollo Pharmacy", "Apollo Hospital", "APOLLO HOSPITAL"]:
                distances['Apollo Hospital'] = distance_to_meters(distance)
            elif location in ["CIMS Hospital", "Marengo CIMS Hospital", "CIMS hospital"]:
                distances['CIMS Hospital'] = distance_to_meters(distance)
            elif location in ["Sardar Vallabhbhai Patel Stadium", "SVP Stadium", "Sardar Vallabhbhai Patel", "Sardar Patel Stadium"]:
                distances['SVP Stadium'] = distance_to_meters(distance)
            elif location in ["Nirma University", "NIRMA UNIVERSITY", "Institute Of Science, Nirma University"]:
                distances['Nirma University'] = distance_to_meters(distance)
            elif location in ["Thaltej Metro Station", "Thaltej"]:
                distances['Thaltej Metro Station'] = distance_to_meters(distance)
            elif location in ["Narendra Modi Stadium", "Motera Stadium", "MODI STADIUM", "Motera stadium"]:
                distances['Narendra Modi Stadium'] = distance_to_meters(distance)
            elif location in ["NH147", "NH 147", "NH147, Gujarat", "NH147, Sarkhej", "NH147, Ahmedabad"]:
                distances['NH 147'] = distance_to_meters(distance)
            elif location in ["International Airport", "Vallabhbhai Patel Intl Airport", "SVP International Airport", "Ahmedabad Domestic Airport",
    "Ahmedabad International Airport T2", "Sardar Vallabhbhai Patel Intl Airport", "Airport", "Ahmedabad Airport",
    "Sardar Vallabhbhai Patel Airport", "SVP Intl Airport", "International airport", "International Airport Ahmedabad",
    "Ahmedabad Int Airport T2", "The Ummed Ahmedabad Airport", "Ahmedabad Intl Airport T2", "Sardar Vallabhbhai Patel Int",
    "Ahmedabad domestic airport", "SVPI Airport"]:
                distances['SVP International Airport'] = distance_to_meters(distance)
            elif location in ["Sardar Patel Ring Road", "Sardar Patel Ring Rd"]:
                distances['Sardar Patel Ring Road'] = distance_to_meters(distance)
            elif location in ["TRP Mall Bopal", "TRP Mall"]:
                distances['TRP Mall'] = distance_to_meters(distance)
            elif location in ["Goraghuma Railway Station", "Goraghuma"]:
                distances['Goraghuma Railway Station'] = distance_to_meters(distance)
            else: 
                distances[location] = distance_to_meters(distance)
            locations_list.append(location)
        location_matrix[index] = distances
#         print(distances)
    else:
        location_matrix[index] = {'':''}
        # If the dictionary is empty, you can choose to handle it as needed
        # For example, you can add a default value or skip it
       

# Convert the dictionary to a DataFrame
location_df = pd.DataFrame.from_dict(location_matrix, orient='index')
location_df.head()

,Rahe Public School,State Bank of India,Canara Bank,IndusInd Bank,Riyaana Children Hospital,Divine Kids Pre-School,Indian Oil,Narol Hospital,Rudrashi a Vaghela,Axis Bank ATM,...,Infocity-The Global IT Park,SGVP college,Chandkheda railway station,Golf Course,EuroSchool Ahmedabad,Hebatpur Cricket Ground,Yes Bank,Club Babylon,HCG Cancer Center,SHOTT Ahmedabad
0,240.0,350.0,500.0,650.0,800.0,1200.0,1300.0,1400.0,1700.0,1900.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,350.0,NaN,550.0,NaN,NaN,NaN,NaN,NaN,350.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,NaN,750.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,NaN,6900.0,NaN,6800.0,NaN,NaN,NaN,NaN,NaN,7400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
locations_list = []
for i, value in location_matrix.items():
    locations_list.extend(value.keys())

In [43]:
words_list = [
    ["Gandhinagar Capital Railway Station", "Gandhinagar Railway Station"],
    ["Sunrise cricket Ground", "Sunrise Cricket Ground"],
    ["Apparel Park Metro Station", "Apparel Park"],
    ["Sabarmati Junction", "Sabarmati Jn Railway Station"],
    ["Science City Circle", "Science City Nature Park", "SAL College of Engineering", "Science City Aquarium", "SAL Engineering",
    "Science City Ahmedabad", "SAL College"],
    ["Divine Kids Pre-School", "Divine Life Intl School", "Divine Kids Preschool"],
    ["Chandkhera Railway Station", "Chandkhera Road railway station"],
    ["Fun Blast Ahmedabad", "Fun Blast - SBR", "Fun Blast"],
    ["NH 48", "NH48"],
    ["PVR Acropolis", "The Acropolis", "Acropolis Mall", "The Acropolis Mall", "PVR Acropollis"],
    ["Motera Stadium metro station", "Motera Metro station", "Motera Stadium Metro Station", "Motera Metro Station"],
    ["Wyndham Ahmedabad Shela", "Wyndham Ahmedabad"],
    ["Gift City", "GIFT City"],
    ["Shalby Multi-Specialty Hospitals", "Shalby Multi-Specialty Hospital", "Shalby Hospital", "Shalby hospital"],
    ["Ambli Road", "Ambli Lake"],
    ["SG Highway", "Sarkhej - Gandhinagar Hwy", "S.G. Highway", "Sarkhej Gandhinagar Highway", "S G Highway", "S. G. Highway"],
    ["Taj Skyline", "Taj Skyline, Ahmedabad"],
    ["Apollo Pharmacy", "Apollo Hospital", "APOLLO HOSPITAL"],
    ["CIMS Hospital", "Marengo CIMS Hospital", "CIMS hospital"],
    ["Sardar Vallabhbhai Patel Stadium", "SVP Stadium", "Sardar Vallabhbhai Patel", "Sardar Patel Stadium"],
    ["Nirma University", "NIRMA UNIVERSITY", "Institute Of Science, Nirma University"],
    ["Thaltej Metro Station", "Thaltej"],
    ["Narendra Modi Stadium", "Motera Stadium", "MODI STADIUM", "Motera stadium"],
    ["NH147", "NH 147", "NH147, Gujarat", "NH147, Sarkhej", "NH147, Ahmedabad"],
    ["International Airport", "Vallabhbhai Patel Intl Airport", "SVP International Airport", "Ahmedabad Domestic Airport",
    "Ahmedabad International Airport T2", "Sardar Vallabhbhai Patel Intl Airport", "Airport", "Ahmedabad Airport",
    "Sardar Vallabhbhai Patel Airport", "SVP Intl Airport", "International airport", "International Airport Ahmedabad",
    "Ahmedabad Int Airport T2", "The Ummed Ahmedabad Airport", "Ahmedabad Intl Airport T2", "Sardar Vallabhbhai Patel Int",
    "Ahmedabad domestic airport", "SVPI Airport"],
    ["Sardar Patel Ring Road", "Sardar Patel Ring Rd"],
    ["TRP Mall Bopal", "TRP Mall"],
    ["Goraghuma Railway Station", "Goraghuma"]
]

In [44]:
from collections import Counter

In [45]:
counts = Counter(locations_list)
locations_dic = dict(counts)
len(locations_dic)
# sorted(locations_dic.items(), key=lambda x:x[1],reverse=True)

1061

In [46]:
top_locations = []
for key, value in locations_dic.items():
    if value > 1:
        top_locations.append(key)
len(top_locations)

270

In [47]:
remove_locations = ['ATM UNION BANK OF INDIA', 'HP Petrol Pump', 'State Bank of India', 'Axis Bank ATM', 'Axis Bank, Adventure Park',
                   'ICICI BANK ATM', 'HP PETROL PUMP.Metro', 'Super Market', 'Kotak Mahindra Bank ATM', 'Railway Station',
                   'Auda Garden', 'Sanand Station', 'State Bank ATM', 'Bank Of Baroda', 'AMTS Bus Stop', 'BRTS Bus Stop',
                   'Corporation Bank ATM', 'Sanand', 'Metro Station', 'ICICI Bank ATM', 'South Indian Bank ATM',
                   'Indian Oil Petrol Pump', 'Dhaval Medical Store', 'Sanand Railway Station', 'Chandlodiya Station',
                   'AUDA Garden', 'HDFC bank ATM', 'BOB ATM', 'Indusind Bank', 'HDFC Bank', 'Bharat petrol pump', 'SBI',
                   'Post Office', 'Kalupur Co-operative Bank', 'Bharat Petroleum', 'Canara Bank', 'Indian Oil',
                   'ICICI Bank -Motera', 'BRTS', 'Cinemas', 'Malls', 'Hospitals', 'International Schools',
                   'International Stadium', 'PVR Cinema', 'Sabarmati', 'Motera', 'Royal Chemist', 'Hospital', 'Bank',
                   'Bus Station', 'School/College', 'Sarkhej', 'Bank of India', 'PNB ATM', 'Axis bank ATM',
                   'Bank of India ATM', 'Central bank of India ATM', 'GSC Bank, Gota', 'Maninagar', 'Sardar Vallabhbhai',
                   'SBI ATM', 'Pallav', 'Changodar', 'GSC Bank Gota Branch', 'Nilesha', 'Asarva', 'D MART',
                   'Central bank of india ATM', 'Indian Bank', 'Union Bank', 'Union Bank with ATM', 'Yes bank ATM',
                   'D-Mart', 'Cng Petrol Pump', 'Bank Of India', 'Petrol Pump', 'Ring Road', 'Adalaj', 'Indian Bank ATM',
                   'Khodiyar', 'Sanathal', 'Essar Petrol Pump', 'IDBI','']

In [48]:
display_locations = [item for item in top_locations if item not in remove_locations]
len(display_locations)

236

In [49]:
# Extract distances for each location
# import ast
# location_matrix = {}
# for index, row in df.iterrows():
#     distances = {}
#     for location, distance in ast.literal_eval(row['LocationAdvantages']).items():
#         print(location,distance)
#         distances[location] = distance_to_meters(distance)
#     location_matrix[index] = distances

# Convert the dictionary to a dataframe
# location_df = pd.DataFrame.from_dict(location_matrix, orient='index')

# Display the first few rows
# location_df.head()

In [50]:
location_df.shape

(237, 1061)

In [51]:
# location_df.columns[10:50]

In [52]:
location_df.index = df.PropertyName

In [53]:
location_df.head()

,Rahe Public School,State Bank of India,Canara Bank,IndusInd Bank,Riyaana Children Hospital,Divine Kids Pre-School,Indian Oil,Narol Hospital,Rudrashi a Vaghela,Axis Bank ATM,...,Infocity-The Global IT Park,SGVP college,Chandkheda railway station,Golf Course,EuroSchool Ahmedabad,Hebatpur Cricket Ground,Yes Bank,Club Babylon,HCG Cancer Center,SHOTT Ahmedabad
PropertyName,,,,,,,,,,,,,,,,,,,,,
Atithi Elegance,240.0,350.0,500.0,650.0,800.0,1200.0,1300.0,1400.0,1700.0,1900.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sattvam Icon,NaN,350.0,NaN,550.0,NaN,NaN,NaN,NaN,NaN,350.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Laxmi Eternia,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
The Crest,NaN,750.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
The Evans,NaN,6900.0,NaN,6800.0,NaN,NaN,NaN,NaN,NaN,7400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
location_df = location_df.dropna(axis=1, how='all')
location_df = location_df.select_dtypes(exclude=['object'])

In [55]:
location_df.fillna(54000,inplace=True)

In [56]:
location_df

,Rahe Public School,State Bank of India,Canara Bank,IndusInd Bank,Riyaana Children Hospital,Divine Kids Pre-School,Indian Oil,Narol Hospital,Rudrashi a Vaghela,Axis Bank ATM,...,Infocity-The Global IT Park,SGVP college,Chandkheda railway station,Golf Course,EuroSchool Ahmedabad,Hebatpur Cricket Ground,Yes Bank,Club Babylon,HCG Cancer Center,SHOTT Ahmedabad
PropertyName,,,,,,,,,,,,,,,,,,,,,
Atithi Elegance,240.0,350.0,500.0,650.0,800.0,1200.0,1300.0,1400.0,1700.0,1900.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
Sattvam Icon,54000.0,350.0,54000.0,550.0,54000.0,54000.0,54000.0,54000.0,54000.0,350.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
Laxmi Eternia,54000.0,3.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
The Crest,54000.0,750.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
The Evans,54000.0,6900.0,54000.0,6800.0,54000.0,54000.0,54000.0,54000.0,54000.0,7400.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Polaris The Palace,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
Shree Siddhi Ganesh Legacy,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
Anantara Abode,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
Shailya Apartment 2,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
Ganesh Enclave,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0

In [57]:
from sklearn.preprocessing import StandardScaler
# Initialize the scaler
scaler = StandardScaler()

# Apply the scaler to the entire dataframe
location_df_normalized = pd.DataFrame(scaler.fit_transform(location_df), columns=location_df.columns, index=location_df.index)

In [58]:
location_df_normalized

,Rahe Public School,State Bank of India,Canara Bank,IndusInd Bank,Riyaana Children Hospital,Divine Kids Pre-School,Indian Oil,Narol Hospital,Rudrashi a Vaghela,Axis Bank ATM,...,Infocity-The Global IT Park,SGVP college,Chandkheda railway station,Golf Course,EuroSchool Ahmedabad,Hebatpur Cricket Ground,Yes Bank,Club Babylon,HCG Cancer Center,SHOTT Ahmedabad
PropertyName,,,,,,,,,,,,,,,,,,,,,
Atithi Elegance,-15.362291,-6.978397,-15.362291,-5.863753,-15.362291,-7.033230,-15.362291,-15.362291,-15.362291,-6.966397,...,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094
Sattvam Icon,0.065094,-6.978397,0.065094,-5.875071,0.065094,0.146772,0.065094,0.065094,0.065094,-7.178013,...,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094
Laxmi Eternia,0.065094,-7.024480,0.065094,0.174304,0.065094,0.146772,0.065094,0.065094,0.065094,0.146636,...,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094
The Crest,0.065094,-6.925275,0.065094,0.174304,0.065094,0.146772,0.065094,0.065094,0.065094,0.146636,...,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094
The Evans,0.065094,-6.108521,0.065094,-5.167707,0.065094,0.146772,0.065094,0.065094,0.065094,-6.215501,...,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Polaris The Palace,0.065094,0.146617,0.065094,0.174304,0.065094,0.146772,0.065094,0.065094,0.065094,0.146636,...,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094
Shree Siddhi Ganesh Legacy,0.065094,0.146617,0.065094,0.174304,0.065094,0.146772,0.065094,0.065094,0.065094,0.146636,...,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094
Anantara Abode,0.065094,0.146617,0.065094,0.174304,0.065094,0.146772,0.065094,0.065094,0.065094,0.146636,...,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094
Shailya Apartment 2,0.065094,0.146617,0.065094,0.174304,0.065094,0.146772,0.065094,0.065094,0.065094,0.146636,...,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094
Ganesh Enclave,0.065094,0.146617,0.065094,0.174304,0.065094,0.146772,0.065094,0.065094,0.065094,0.146636,...,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094,0.065094

In [59]:
cosine_sim3 = cosine_similarity(location_df_normalized)

In [60]:
cosine_sim3.shape

(237, 237)

In [61]:
def recommend_properties_with_scores(property_name, top_n=237):
    
    cosine_sim_matrix = 30*cosine_sim1 + 20*cosine_sim2 + 8*cosine_sim3
    # cosine_sim_matrix = cosine_sim3
    
    # Get the similarity scores for the property using its name as the index
    sim_scores = list(enumerate(cosine_sim_matrix[location_df_normalized.index.get_loc(property_name)]))
    
    # Sort properties based on the similarity scores
    sorted_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # Get the indices and scores of the top_n most similar properties
    top_indices = [i[0] for i in sorted_scores[1:top_n+1]]
    top_scores = [i[1] for i in sorted_scores[1:top_n+1]]
    
    # Retrieve the names of the top properties using the indices
    top_properties = location_df_normalized.index[top_indices].tolist()
    
    # Create a dataframe with the results
    recommendations_df = pd.DataFrame({
        'PropertyName': top_properties,
        'SimilarityScore': top_scores
    })
    
    return recommendations_df

# Test the recommender function using a property name
recommend_properties_with_scores('Laxmi Eternia')

           PropertyName  SimilarityScore
0       Sharanya Altura        28.649284
1      Rivanta Aurovile        24.632629
2       Aaryan Ambience        24.574741
3             The Evans        23.550805
4          Ratnam Aurum        23.475230
..                  ...              ...
231          Laxmi Rise        -8.289600
232   Suryansh Serenity        -8.444651
233  Satvik Sthapana 84        -8.469580
234      Kalasagar Skyz        -8.570970
235        Sattvam Icon        -8.572824

[236 rows x 2 columns]

In [62]:
(3*cosine_sim3 + 5*cosine_sim2 + 6*cosine_sim1).shape

(237, 237)

In [63]:
# import pickle
# pickle.dump(location_df,open('../artifacts/location_distance.pkl','wb'))

# pickle.dump(cosine_sim1,open('../artifacts/cosine_sim1.pkl','wb'))
# pickle.dump(cosine_sim2,open('../artifacts/cosine_sim2.pkl','wb'))
# pickle.dump(cosine_sim3,open('../artifacts/cosine_sim3.pkl','wb'))
# pickle.dump(display_locations,open('../artifacts/display_locations.pkl','wb'))