In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
path = Path('../data/interim')

In [3]:
flats = pd.read_csv(path / 'flats_cleaned.csv')
houses = pd.read_csv(path / 'house_cleaned.csv')

In [4]:
houses.head(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,...,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,3 Bedroom House for sale in Ghuma,house,individual bunglowe,1.25,8267.0,1512.0,Plot area 168(140.47 sq.m.),3,3,1,...,"Ghuma, Ahmedabad West, Ahmedabad",2.0,South-East,5 to 10 Year Old,"['Atm hdfc bank', 'State bank of india sbi ATM...",Are you planning to buy your dream home? You c...,NaN,"['Feng Shui / Vaastu Compliant', 'Visitor Park...","['Lifestyle3.7 out of 5', 'Connectivity4.1 out...",Y66780728
1,4 Bedroom House for sale in Sanathal,house,goyal green park,3.00,8333.0,3600.0,Plot area 400(334.45 sq.m.)Built Up area: 350 ...,4,4,2,...,"Sanathal, Ahmedabad West, Ahmedabad",2.0,South-West,10+ Year Old,"['Sahyog General Hospital and Nursing Home', '...",A residential bungalows is available for sale ...,NaN,"['Feng Shui / Vaastu Compliant', 'Private Gard...",NaN,V69832032
2,3 Bedroom House for sale in Randheja,house,maruti independentdan green,0.80,4400.0,1818.0,Plot area 202(168.9 sq.m.),3,4,1,...,"Randheja, Gandhinagar, Ahmedabad",2.0,North-East,Under Construction,NaN,Check out this 3 bhk house for sale in randhej...,NaN,NaN,NaN,W68654880
3,3 Bedroom House for sale in Bopal,house,"b/37, jahanvi bungalows",3.20,37427.0,855.0,Plot area 370(309.37 sq.m.)Built Up area: 176 ...,3,3,2,...,"B/37, Bopal, Ahmedabad West, Ahmedabad",3.0,North,10+ Year Old,"['Icici ATM', 'Hdfc ATM', 'Atm hdfc bank', 'Ax...",An impeccable opportunity is here for those wh...,"['4 Wardrobe', '13 Fan', '1 Exhaust Fan', '2 G...","['Private Garden / Terrace', 'Water purifier',...","['Lifestyle4.2 out of 5', 'Connectivity4.3 out...",U69163438
4,5 Bedroom House for sale in Enasan,house,akash grand city,4.35,8606.0,5055.0,Plot area 581(485.79 sq.m.),5,6,1,...,"Enasan, Ahmedabad North, Ahmedabad",2.0,NaN,1 to 5 Year Old,NaN,I have a house/villa available for sale in ena...,[],['Club house / Community Center'],NaN,M68168346

In [5]:
df = pd.concat([flats,houses],ignore_index=True)

In [6]:
df.shape

(7794, 21)

In [7]:
df.duplicated().sum()

0

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df = df.sample(df.shape[0],ignore_index=True)

In [10]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,...,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,3 Bedroom House for sale in Gurukul,house,independent,2.40,11111.0,2160.0,Plot area 240(200.67 sq.m.),3,3,3,...,"000, Gurukul, Ahmedabad West, Ahmedabad",3.0,North,1 to 5 Year Old,"['Kalpyan Pushti Haveli', 'Gurukul', 'Manav Ma...",A residential bungalows is available for sale ...,NaN,"['Private Garden / Terrace', 'High Ceiling Hei...","['Lifestyle4.2 out of 5', 'Connectivity4.1 out...",V70744416
1,1 BHK Flat in Chanakyapuri,flat,sun divine 3,0.32,3922.0,816.0,Super Built up area 85(71.07 sq.m.)Built Up ar...,1,1,1,...,"2, Sun Divine 3, Near Vrajdham 2, Chankyapuri,...",1.0,South-West,5 to 10 Year Old,"['CHANDLODIA MARKET', 'Bhagwat Vidyapeeth', 'P...",Residential apartment for sell.The property ha...,"['2 Fan', '5 Light', 'No AC', 'No Bed', 'No Ch...","['Security / Fire Alarm', 'Lift(s)', 'Maintena...",NaN,A41380611
2,4 Bedroom House for sale in Thaltej,house,omkar bunglows,4.75,15079.0,3150.0,Plot area 350(292.64 sq.m.)Built Up area: 315 ...,4,4,1,...,"Thaltej, Ahmedabad West, Ahmedabad",2.0,East,10+ Year Old,"['Bhagwat Vidyapeeth', 'ambe mataa mandir', 'B...",Fully furnished 4bhk bungalow available for sa...,"['1 Water Purifier', '4 Fan', '1 Exhaust Fan',...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Lifestyle4.5 out of 5', 'Connectivity4.3 out...",F64661686
3,2 BHK Flat in Nava Naroda,flat,sheeva amardeep enclave,0.27,21600.0,125.0,Built Up area: 125 (11.61 sq.m.)Carpet area: 1...,2,2,1,...,"Nava Naroda, Nava Naroda, Ahmedabad East, Ahme...",3.0,NaN,undefined,"['Uma Maternity and Nursing Home', 'Priyal Hos...",Best in class property available at nava narod...,NaN,NaN,"['Lifestyle3.9 out of 5', 'Safety4.2 out of 5'...",C69857732
4,3 BHK Flat in Usmanpura,flat,arizona river heights,2.10,8909.0,2357.0,Super Built up area 2357(218.97 sq.m.)Carpet a...,3,3,2,...,"1101, Usmanpura, Ahmedabad West, Ahmedabad",11.0,East,5 to 10 Year Old,"['Aalap Clinic and Surgical Nursing Home', 'Kr...",Awesome river view from balcony,"['1 Water Purifier', '1 Fridge', '6 Fan', '1 E...","['Security / Fire Alarm', 'Intercom Facility',...","['Lifestyle3.9 out of 5', 'Connectivity3.8 out...",H69328788

In [11]:
df.to_csv(path / 'properties.csv',index=False)