In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
in_path = Path('../data/raw')
out_path = Path('../data/interim')

In [3]:
flats = pd.read_csv(in_path / 'flats_cleaned.csv')
houses = pd.read_csv(in_path / 'house_cleaned.csv')

In [4]:
houses.head(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,...,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,3 Bedroom House for sale in Ghuma,house,individual bunglowe,1.25,8267.0,1512.0,Plot area 168(140.47 sq.m.),3,3,1,...,"Ghuma, Ahmedabad West, Ahmedabad",2.0,South-East,5 to 10 Year Old,"['Atm hdfc bank', 'State bank of india sbi ATM...",Are you planning to buy your dream home? You c...,NaN,"['Feng Shui / Vaastu Compliant', 'Visitor Park...","['Lifestyle3.7 out of 5', 'Connectivity4.1 out...",Y66780728
1,4 Bedroom House for sale in Sanathal,house,goyal green park,3.00,8333.0,3600.0,Plot area 400(334.45 sq.m.)Built Up area: 350 ...,4,4,2,...,"Sanathal, Ahmedabad West, Ahmedabad",2.0,South-West,10+ Year Old,"['Sahyog General Hospital and Nursing Home', '...",A residential bungalows is available for sale ...,NaN,"['Feng Shui / Vaastu Compliant', 'Private Gard...",NaN,V69832032
2,3 Bedroom House for sale in Randheja,house,maruti independentdan green,0.80,4400.0,1818.0,Plot area 202(168.9 sq.m.),3,4,1,...,"Randheja, Gandhinagar, Ahmedabad",2.0,North-East,Under Construction,NaN,Check out this 3 bhk house for sale in randhej...,NaN,NaN,NaN,W68654880
3,3 Bedroom House for sale in Bopal,house,"b/37, jahanvi bungalows",3.20,37427.0,855.0,Plot area 370(309.37 sq.m.)Built Up area: 176 ...,3,3,2,...,"B/37, Bopal, Ahmedabad West, Ahmedabad",3.0,North,10+ Year Old,"['Icici ATM', 'Hdfc ATM', 'Atm hdfc bank', 'Ax...",An impeccable opportunity is here for those wh...,"['4 Wardrobe', '13 Fan', '1 Exhaust Fan', '2 G...","['Private Garden / Terrace', 'Water purifier',...","['Lifestyle4.2 out of 5', 'Connectivity4.3 out...",U69163438
4,5 Bedroom House for sale in Enasan,house,akash grand city,4.35,8606.0,5055.0,Plot area 581(485.79 sq.m.),5,6,1,...,"Enasan, Ahmedabad North, Ahmedabad",2.0,NaN,1 to 5 Year Old,NaN,I have a house/villa available for sale in ena...,[],['Club house / Community Center'],NaN,M68168346

In [5]:
df = pd.concat([flats,houses],ignore_index=True)

In [6]:
df.shape

(7794, 21)

In [7]:
df.duplicated().sum()

0

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df = df.sample(df.shape[0],ignore_index=True)

In [10]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,...,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,3 Bedroom House for sale in Hathijan,house,shivam pushpak city,1.00,9873.0,1013.0,Plot area 94.1,3,4,2,...,"A-44, Hathijan, Ahmedabad East, Ahmedabad",2.0,NaN,5 to 10 Year Old,NaN,Front side galary and back side galary and rea...,"['4 Bed', '3 Wardrobe', '1 Fridge', '1 Sofa', ...","['Private Garden / Terrace', 'High Ceiling Hei...",NaN,G68072174
1,3 BHK Flat in Gota,flat,olive greens,0.90,9313.0,966.0,Super Built up area 1918(178.19 sq.m.)Built Up...,3,3,1,...,"302, Gota, Ahmedabad North, Ahmedabad",3.0,East,1 to 5 Year Old,"['Fraucow Shopping Mall', 'S G Business Hub', ...","Heck out olive greens in gota, one of the upco...",NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Lifestyle4.2 out of 5', 'Connectivity4.1 out...",L63689388
2,4 Bedroom House for sale in Ranip,house,sagar tenament,1.05,11667.0,900.0,Plot area 100(83.61 sq.m.)Built Up area: 180 s...,4,3,2,...,"100, Ranip, Ahmedabad North, Ahmedabad",2.0,North-East,1 to 5 Year Old,NaN,4 bhk newley constructed bunglow available for...,"['1 Water Purifier', '4 Fan', '1 Fridge', '1 E...","['Feng Shui / Vaastu Compliant', 'Water Storag...","['Lifestyle3.8 out of 5', 'Connectivity4.2 out...",F70508100
3,3 Bedroom House for sale in Jashoda Nagar,house,pushparaj bunglows,1.25,65104.0,192.0,Plot area 192(17.84 sq.m.),3,3,1,...,"Jashoda Nagar, Ahmedabad East, Ahmedabad",2.0,East,10+ Year Old,"['Mahadev Temple', 'Temple', 'Saibaba Temple',...","It is bunglow,with huge extra space in front.",NaN,"['Feng Shui / Vaastu Compliant', 'Water Storag...","['Lifestyle3.6 out of 5', 'Connectivity3.7 out...",K64734078
4,5 Bedroom House for sale in South Bopal,house,aamramanjari bunglows,6.40,16049.0,3988.0,Plot area 450(376.26 sq.m.)Built Up area: 600 ...,5,5,2,...,"South Bopal, Ahmedabad West, Ahmedabad",1.0,East,1 to 5 Year Old,"['Icici ATM', 'State bank of india sbi ATM', '...",This is a aamramanjri bunglows meticulously de...,"['1 Water Purifier', '5 Fan', '1 Dining Table'...","['Security / Fire Alarm', 'Water Storage', 'Vi...","['Lifestyle4.2 out of 5', 'Connectivity4.3 out...",C69028840

In [11]:
df.to_csv(out_path / 'properties.csv',index=False)