In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
raw_path = Path('../data/raw')
interim_path = Path('../data/interim')

In [4]:
flats_1 = pd.read_csv(raw_path / 'flats_1.csv')
flats_2 = pd.read_csv(raw_path / 'flats_2.csv')
df = pd.read_csv(interim_path / 'properties.csv')

In [5]:
df.shape

(7794, 21)

In [6]:
df.sample(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
6437,2 BHK Flat in Vastral,flat,devnandan supremus,0.38,384.0,9896.0,Super Built up area 1098(918.07 sq.m.),2,2,2,not available,"Vastral, Ahmedabad East, Ahmedabad",5.0,South-West,5 to 10 Year Old,"['Vastral gam metro station', 'Nirant cross ro...",2 bhk + penthouse nice location,NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...","['Lifestyle4.1 out of 5', 'Connectivity4.5 out...",P69425518
313,3 BHK Flat in Kudasan,flat,keshav aaradhyam,1.15,5215.0,2205.0,Carpet area: 245 (204.85 sq.m.),3,3,2,not available,"Kudasan, Gandhinagar, Ahmedabad",7.0,East,0 to 1 Year Old,"['Shree Verai Mataji Temple', 'Shree Sargesvar...","3 bhk , flat in keshav aradhayam, 245 sq yard,...",NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Lifestyle4.2 out of 5', 'Connectivity4 out o...",F70347468
2193,2 BHK Flat in Gota,flat,status elysium,0.65,5416.0,1200.0,Carpet area: 1200 (111.48 sq.m.),2,2,1,"study room,servant room","100, Gota, Ahmedabad North, Ahmedabad",7.0,North-East,1 to 5 Year Old,"['CHANDLODIA MARKET', 'Khodiyar Temple', 'Chan...",2 bhk fully furnish available for sell. Prime ...,"['1 Water Purifier', '3 Fan', '1 Fridge', '1 D...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Lifestyle4.2 out of 5', 'Safety3.9 out of 5'...",P70589300
7279,2 BHK Flat in Gota,flat,icb park,0.42,3889.0,1080.0,Super Built up area 120(100.34 sq.m.)Built Up ...,2,2,1,"store room,pooja room","101, Gota, Ahmedabad North, Ahmedabad",3.0,North-East,5 to 10 Year Old,"['CHANDLODIA MARKET', 'Chandlodiya Temple', 'B...","Situated in gota, ahmedabad north, icb park is...",NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Lifestyle4.2 out of 5', 'Safety3.9 out of 5'...",V70987852
3305,5 Bedroom House for sale in Thaltej,house,hariharashray bunglow part 2,10.00,21575.0,4635.0,Plot area 515(430.61 sq.m.)Built Up area: 500 ...,5,5,2,"store room,pooja room","Thaltej, Ahmedabad West, Ahmedabad",3.0,East,5 to 10 Year Old,"['Bhagwat Vidyapeeth', 'ambe mataa mandir', 'B...",5bhk fully furnished bunglow available for sal...,"['1 Water Purifier', '1 Fridge', '5 Fan', '1 E...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Lifestyle4.5 out of 5', 'Connectivity4.3 out...",C68899722

In [7]:
df.shape

(7794, 21)

In [8]:
df.duplicated().sum()

0

In [9]:
# df.info()

In [10]:
# df.isnull().sum()

In [11]:
# df.head()

In [12]:
flats_1.insert(loc=3,column='sector',value=df['property_name'].str.split('in').str.get(1).str.replace('ahmedabad','').str.strip())
flats_1['sector'] = flats_1['sector'].str.lower()
flats_1['sector'].value_counts().head()

gota            161
south bopal     155
chandkheda      109
shela            78
science city     74
Name: sector, dtype: int64

In [13]:
flats_2.insert(loc=3,column='sector',value=df['property_name'].str.split('in').str.get(1).str.replace('ahmedabad','').str.strip())
flats_2['sector'] = flats_2['sector'].str.lower()
flats_2['sector'].value_counts().sample(10)

koteshwar                          25
navrangpura commerce six roads      1
khoraj                              3
bhaijipura                          1
shantigram                          1
krishnanagar                        3
vejalpur                           33
anand nagar                         3
vastral                           151
jaymala                             1
Name: sector, dtype: int64

In [14]:
df.insert(loc=3,column='sector',value=df['property_name'].str.split('in').str.get(1).str.replace('ahmedabad','').str.strip())

In [15]:
# df.head()

In [16]:
df['sector'] = df['sector'].str.lower()

In [17]:
# df.head()

In [18]:
df['sector'].value_counts().head(10)

south bopal     586
gota            541
chandkheda      334
science city    305
vastral         252
shela           252
satellite       243
jagatpur        218
bodakdev        214
motera          203
Name: sector, dtype: int64

In [19]:
df[df['sector']=='cha']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
1843,2 BHK Flat in Chainpur,flat,aum nirman life style,cha,0.35,3411.0,1026.0,Super Built up area 1026(95.32 sq.m.)Built Up ...,2,2,1,others,"Chainpur, Ahmedabad North, Ahmedabad",4.0,East,5 to 10 Year Old,"['CHANDLODIA MARKET', 'Khodiyar Temple', 'Chan...",Aum nirman life style is one of ahmedabad nort...,NaN,"['Lift(s)', 'Water Storage', 'Visitor Parking']",NaN,M70034804
2239,2 Bedroom House for sale in Chainpur,house,abhay ratna row house,cha,0.53,6543.0,810.0,Plot area 90(75.25 sq.m.),2,2,2,not available,"Chainpur, Ahmedabad North, Ahmedabad",2.0,North-East,5 to 10 Year Old,"['CHANDLODIA MARKET', 'Khodiyar Temple', 'Chan...",All around is airy space and good location,"['4 Fan', '1 Sofa', 'No AC', 'No Bed', 'No Chi...",['Park'],NaN,U70801038
5142,1 BHK Flat in Chainpur,flat,shiv ganesh vatika,cha,0.33,40625.0,81.0,Carpet area: 80 (7.43 sq.m.),1,1,0,not available,"A-705, Chainpur, Ahmedabad North, Ahmedabad",7.0,East,0 to 1 Year Old,"['CHANDLODIA MARKET', 'Khodiyar Temple', 'Chan...",Shiv ganesh vatika is one of ahmedabad north's...,NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...",NaN,Q70528640
6124,2 BHK Flat in Chainpur,flat,ganesh vatika chenpur,cha,0.53,5077.0,1044.0,Carpet area: 116 (96.99 sq.m.),2,2,1,not available,"A102, Chainpur, Ahmedabad North, Ahmedabad",1.0,East,0 to 1 Year Old,"['Khodiyar Temple', 'Sarveshwar Mahadev Temple...",This is a very new property with penthouse apa...,"['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Feng Shui / Vaastu Compliant', 'Security / F...",NaN,X68965212

In [20]:
df = df[~df['sector'].isin(['kashindra', 'manipur', 'kudasan', 'sardar patel r','adalaj','raysan','bareja','jetalpur','sudhad','vavol',
                            'kuha','palodia','moraiya','khoraj','khodiyar','bagodara','godhavi','randheja','randesan','dholka','kalol','saroda',
                           'mandal','kas','changodar','gandh','kolat','nasmed','sector 13 gandh','barejadi','sector 21 gandh',
                           'sector 26 gandh','bilasiya','sector 8 gandh','chaloda','near sanand railway station','nandej',
                           'sector 29 gandh','lapkaman','gift city','kalikund','adroda','bakarol','rancharda','sector 3 gandh',
                            'sector 2 gandh','sector 6 gandh','sector 2b gandh','nandoli','sector 5 gandh','sector 4 gandh','khaneti road, sanand',
                            'shantigram','sector 30 gandh','ja','wapa','shr','sterl','cha','sanand'])]

In [21]:
df['sector'] = df['sector'].str.replace('shastr','shastrinagar')
# df['sector'] = df['sector'].str.replace('cha','ranip')
df['sector'] = df['sector'].str.replace('chandlodia talav','chandlodia')
df['sector'] = df['sector'].str.replace('jivraj park,vejalpur','jivraj park')
df['sector'] = df['sector'].str.replace('vaishnodevi circle, s g highway','vaishnodevi circle')

In [22]:
df['sector'] = df['sector'].str.replace('narolgam','narol')
# df['sector'] = df['sector'].str.replace('v','vinzol')
df['sector'] = df['sector'].str.replace('nikol naroda road','nikol')
df['sector'] = df['sector'].str.replace('saijpur bogha','naroda')
df['sector'] = df['sector'].str.replace('bhatta','paldi')
df['sector'] = df['sector'].str.replace('parishram residency 4 nr madhavinzol falt bopal','bopal')
df['sector'] = df['sector'].str.replace('opp kubereswar mahadevinzol, naroda,naroda road','naroda')
df['sector'] = df['sector'].str.replace('ambicanagar, odhav','odhav')
df['sector'] = df['sector'].str.replace('viratnagar road, nikol','nikol')
df['sector'] = df['sector'].str.replace('on riverfrount , usmanpura','usmanpura')
df['sector'] = df['sector'].str.replace('chandranagar char rasta ,paldi','paldi')
df['sector'] = df['sector'].str.replace('vastral road','vastral')
df['sector'] = df['sector'].str.replace('narayan nagar, paldi','paldi')
df['sector'] = df['sector'].str.replace('parshwnath,kirishnanagar','krishnanagar')
df['sector'] = df['sector'].str.replace('shela bopal','shela')
df['sector'] = df['sector'].str.replace('uttamnagar, nikol','nikol')
df['sector'] = df['sector'].str.replace('ghodasar vatva','ghodasar')
df['sector'] = df['sector'].str.replace('cadila bridge, ghodasar','ghodasar')
df['sector'] = df['sector'].str.replace('k. k. nagar ghatlodiya','ghatlodiya')
df['sector'] = df['sector'].str.replace('usmanpura, ashram road','usmanpura')
df['sector'] = df['sector'].str.replace('scince city','science city')
df['sector'] = df['sector'].str.replace('ghodashar','ghodasar')
df['sector'] = df['sector'].str.replace('shilaj - rancharda road','shilaj')
df['sector'] = df['sector'].str.replace('sola road, naranpura','naranpura')
df['sector'] = df['sector'].str.replace('vyaswadi, nava wadaj','nava wadaj')
df['sector'] = df['sector'].str.replace('gokul dham applewood shela','shela')
df['sector'] = df['sector'].str.replace('chandkheda ahmedbad north','chandkheda')
df['sector'] = df['sector'].str.replace('nikol bhakti circle','nikol')
df['sector'] = df['sector'].str.replace('chandlodia, gota','chandlodia')
df['sector'] = df['sector'].str.replace('thaltej baghbaan party plot','thaltej')
df['sector'] = df['sector'].str.replace('khokra,near baal bhavan,beside dharmajivan flate','khokhra')
df['sector'] = df['sector'].str.replace('vatva gam','vatva')
df['sector'] = df['sector'].str.replace('naroda d mart','naroda')
df['sector'] = df['sector'].str.replace('bapunagar l b shashtri road','bapunagar')
df['sector'] = df['sector'].str.replace('opp kargil petrolpump, s.g highway, ghatlodia','ghatlodia')
df['sector'] = df['sector'].str.replace('krishnanagar naroda','krishnanagar')

C:\Users\Arpit\AppData\Local\Temp\ipykernel_12460\1898901499.py:19: FutureWarning: The default value of regex will change from True to False in a future version.
  df['sector'] = df['sector'].str.replace('k. k. nagar ghatlodiya','ghatlodiya')
C:\Users\Arpit\AppData\Local\Temp\ipykernel_12460\1898901499.py:35: FutureWarning: The default value of regex will change from True to False in a future version.
  df['sector'] = df['sector'].str.replace('opp kargil petrolpump, s.g highway, ghatlodia','ghatlodia')

In [23]:
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [24]:
df.shape

(7176, 22)

In [25]:
df['sector'].value_counts().head()

south bopal     586
gota            541
chandkheda      335
science city    306
shela           254
Name: sector, dtype: int64

In [26]:
take_1 = ['shela','thaltej','shilaj','isanpur','vaishnodevi circle','ghatlodia','bhadaj','shahibaug',
        'sg highway','naranpura','vasna','chandlodia','ctm','nana chiloda','sarkhej','krishna nagar',
        'new man','navrangpura','usmanpura']
take_2 = ['gota', 'south bopal', 'chandkheda', 'satellite', 'jagatpur', 'vastral',
       'bodakdev', 'science city', 'motera', 'man', 'naroda', 'nikol',
       'new ranip', 'vatva', 'paldi', 'vastrapur', 'nava naroda', 'narol',
       'ghuma', 'memnagar', 'charodi', 'sola', 'jodhpur', 'gurukul',
       'koteshwar', 'odhav', 'bapunagar', 'prahlad nagar', 'khokhara']
take = take_1 + take_2

# here comes the manual assesment , take2 is the areas which were present in flats_2 , 
# and take1 is an important areas in flats_1 and are not present in flats_2.
# we will select combine areas of take1 and take2 from ahmedabad_properties data.

In [27]:
len(take)

48

In [28]:
sector_list = df['sector'].value_counts().index.tolist()

In [29]:
values_not_in_list1 = [value for value in take_2 if value not in sector_list]

In [30]:
values_not_in_list1

[]

In [31]:
df = df[df['sector'].isin(take)]

In [32]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,3 Bedroom House for sale in Gurukul,house,independent,gurukul,2.40,11111.0,2160.0,Plot area 240(200.67 sq.m.),3,3,3,"store room,pooja room","000, Gurukul, Ahmedabad West, Ahmedabad",3.0,North,1 to 5 Year Old,"['Kalpyan Pushti Haveli', 'Gurukul', 'Manav Ma...",A residential bungalows is available for sale ...,NaN,"['Private Garden / Terrace', 'High Ceiling Hei...","['Lifestyle4.2 out of 5', 'Connectivity4.1 out...",V70744416
2,4 Bedroom House for sale in Thaltej,house,omkar bunglows,thaltej,4.75,15079.0,3150.0,Plot area 350(292.64 sq.m.)Built Up area: 315 ...,4,4,1,"store room,pooja room","Thaltej, Ahmedabad West, Ahmedabad",2.0,East,10+ Year Old,"['Bhagwat Vidyapeeth', 'ambe mataa mandir', 'B...",Fully furnished 4bhk bungalow available for sa...,"['1 Water Purifier', '4 Fan', '1 Exhaust Fan',...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Lifestyle4.5 out of 5', 'Connectivity4.3 out...",F64661686
3,2 BHK Flat in Nava Naroda,flat,sheeva amardeep enclave,nava naroda,0.27,21600.0,125.0,Built Up area: 125 (11.61 sq.m.)Carpet area: 1...,2,2,1,not available,"Nava Naroda, Nava Naroda, Ahmedabad East, Ahme...",3.0,NaN,undefined,"['Uma Maternity and Nursing Home', 'Priyal Hos...",Best in class property available at nava narod...,NaN,NaN,"['Lifestyle3.9 out of 5', 'Safety4.2 out of 5'...",C69857732
4,3 BHK Flat in Usmanpura,flat,arizona river heights,usmanpura,2.10,8909.0,2357.0,Super Built up area 2357(218.97 sq.m.)Carpet a...,3,3,2,"pooja room,others","1101, Usmanpura, Ahmedabad West, Ahmedabad",11.0,East,5 to 10 Year Old,"['Aalap Clinic and Surgical Nursing Home', 'Kr...",Awesome river view from balcony,"['1 Water Purifier', '1 Fridge', '6 Fan', '1 E...","['Security / Fire Alarm', 'Intercom Facility',...","['Lifestyle3.9 out of 5', 'Connectivity3.8 out...",H69328788
5,3 BHK Flat in Gota,flat,avirat silver harmony,gota,0.98,4839.0,2025.0,Super Built up area 2025(188.13 sq.m.),3,3,1,store room,"1st, Gota, Ahmedabad North, Ahmedabad",9.0,East,5 to 10 Year Old,"['CHANDLODIA MARKET', 'Chandlodiya Temple', 'B...",Well maintain society . Good condition apartment.,NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...","['Lifestyle4.2 out of 5', 'Safety3.9 out of 5'...",G67650748

In [33]:
df['sector'].unique()

array(['gurukul', 'thaltej', 'nava naroda', 'usmanpura', 'gota',
       'vastrapur', 'science city', 'memnagar', 'south bopal', 'jagatpur',
       'nikol', 'motera', 'chandkheda', 'vaishnodevi circle', 'isanpur',
       'satellite', 'paldi', 'man', 'naroda', 'shela', 'vastral',
       'ghatlodia', 'ghuma', 'new ranip', 'prahlad nagar', 'vatva',
       'bhadaj', 'narol', 'jodhpur', 'naranpura', 'sola', 'koteshwar',
       'bapunagar', 'odhav', 'bodakdev', 'nana chiloda', 'sg highway',
       'charodi', 'sarkhej', 'shahibaug', 'shilaj', 'ctm', 'chandlodia',
       'navrangpura', 'new man', 'khokhara', 'vasna', 'krishna nagar'],
      dtype=object)

In [34]:
df['sector'].replace({'man': 'maninagar','new man':'new maninagar'}, inplace=True)

In [35]:
df.shape

(5933, 22)

In [36]:
df.duplicated().sum()

0

In [37]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,3 Bedroom House for sale in Gurukul,house,independent,gurukul,2.40,11111.0,2160.0,Plot area 240(200.67 sq.m.),3,3,3,"store room,pooja room","000, Gurukul, Ahmedabad West, Ahmedabad",3.0,North,1 to 5 Year Old,"['Kalpyan Pushti Haveli', 'Gurukul', 'Manav Ma...",A residential bungalows is available for sale ...,NaN,"['Private Garden / Terrace', 'High Ceiling Hei...","['Lifestyle4.2 out of 5', 'Connectivity4.1 out...",V70744416
2,4 Bedroom House for sale in Thaltej,house,omkar bunglows,thaltej,4.75,15079.0,3150.0,Plot area 350(292.64 sq.m.)Built Up area: 315 ...,4,4,1,"store room,pooja room","Thaltej, Ahmedabad West, Ahmedabad",2.0,East,10+ Year Old,"['Bhagwat Vidyapeeth', 'ambe mataa mandir', 'B...",Fully furnished 4bhk bungalow available for sa...,"['1 Water Purifier', '4 Fan', '1 Exhaust Fan',...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Lifestyle4.5 out of 5', 'Connectivity4.3 out...",F64661686
3,2 BHK Flat in Nava Naroda,flat,sheeva amardeep enclave,nava naroda,0.27,21600.0,125.0,Built Up area: 125 (11.61 sq.m.)Carpet area: 1...,2,2,1,not available,"Nava Naroda, Nava Naroda, Ahmedabad East, Ahme...",3.0,NaN,undefined,"['Uma Maternity and Nursing Home', 'Priyal Hos...",Best in class property available at nava narod...,NaN,NaN,"['Lifestyle3.9 out of 5', 'Safety4.2 out of 5'...",C69857732
4,3 BHK Flat in Usmanpura,flat,arizona river heights,usmanpura,2.10,8909.0,2357.0,Super Built up area 2357(218.97 sq.m.)Carpet a...,3,3,2,"pooja room,others","1101, Usmanpura, Ahmedabad West, Ahmedabad",11.0,East,5 to 10 Year Old,"['Aalap Clinic and Surgical Nursing Home', 'Kr...",Awesome river view from balcony,"['1 Water Purifier', '1 Fridge', '6 Fan', '1 E...","['Security / Fire Alarm', 'Intercom Facility',...","['Lifestyle3.9 out of 5', 'Connectivity3.8 out...",H69328788
5,3 BHK Flat in Gota,flat,avirat silver harmony,gota,0.98,4839.0,2025.0,Super Built up area 2025(188.13 sq.m.),3,3,1,store room,"1st, Gota, Ahmedabad North, Ahmedabad",9.0,East,5 to 10 Year Old,"['CHANDLODIA MARKET', 'Chandlodiya Temple', 'B...",Well maintain society . Good condition apartment.,NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...","['Lifestyle4.2 out of 5', 'Safety3.9 out of 5'...",G67650748

In [38]:
# features to drop -> property_name, address, description, rating
df.drop(columns=['property_name', 'address', 'description', 'rating'],inplace=True)

In [39]:
df.sample(5)

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features,property_id
6075,house,kena bungalows,motera,2.25,12500.0,1800.0,Plot area 200(167.23 sq.m.),4,4,2,study room,2.0,East,5 to 10 Year Old,"['Sant Asharamji Ashram', 'Ramji Mandir', 'Kot...","['1 Water Purifier', '5 Fan', '1 Fridge', '1 E...","['Feng Shui / Vaastu Compliant', 'Private Gard...",B70571322
5525,flat,vishwas city ii,naroda,0.40,4040.0,990.0,Built Up area: 990 (91.97 sq.m.)Carpet area: 8...,2,2,2,not available,4.0,NaN,undefined,"['Uma Maternity and Nursing Home', 'Priyal Hos...","['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN,B68925246
5126,flat,water lily by adani realty,vaishnodevi circle,2.55,6746.0,3780.0,Super Built up area 3780(351.17 sq.m.)Built Up...,4,6,2,"pooja room,servant room",2.0,North-East,1 to 5 Year Old,"['Adani Shantigram Mall', 'Shoppers Plaza, Sh...",NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...",R42537413
3339,flat,aashray gold,new ranip,0.50,4554.0,1098.0,Super Built up area 122(102.01 sq.m.),2,2,3,not available,1.0,South-East,10+ Year Old,"['CHANDLODIA MARKET', 'Khodiyar Temple', 'Chan...","['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Feng Shui / Vaastu Compliant', 'Lift(s)', 'M...",X71043190
2637,flat,shashwat,new ranip,0.65,4199.0,1548.0,Super Built up area 172(143.81 sq.m.),2,2,2,not available,4.0,East,5 to 10 Year Old,"['CHANDLODIA MARKET', 'Khodiyar Temple', 'Chan...","['2 Wardrobe', '5 Fan', '1 Sofa', '8 Light', '...","['Feng Shui / Vaastu Compliant', 'Lift(s)', 'M...",O70922152

In [40]:
# feature engineering required -> areaWithType, additionalRoom, facing, agePossession, furnishDetails, features

In [41]:
df[df.duplicated()]

Empty DataFrame
Columns: [property_type, society, sector, price, price_per_sqft, area, areaWithType, bedRoom, bathroom, balcony, additionalRoom, floorNum, facing, agePossession, nearbyLocations, furnishDetails, features, property_id]
Index: []

In [42]:
df.drop_duplicates(subset='property_id',inplace=True)

In [45]:
df.to_csv(interim_path / 'properties_cleaned_v1.csv',index=False)